.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, auto));
  margin: 0 auto 92px auto;
  gap: 16px;
}
@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid{
    max-width: 928px;
  }
  
}
