.photo-grid {
  max-width: 1184px;
  height: 671px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 48px 92px 48px;
}
@media screen and (max-width: 288px) {
  .photo-grid {
    max-width: 288px;
  }
}
