.photo-grid {
  max-width: 1184px;
  height: 671px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, auto));
  margin: auto;
}
@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 320px;
  }
}
