.header {
  display: flex;
  justify-content: space-between;
  width: 984px;
  height: 44px;
  margin: 0 148px 0 148px;
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}
