.languages__link_active {
  display: flex;
  color: #ffffff;
  text-decoration: underline;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;

  width: 29px;
  height: 28px;
  margin: 46px 18px 0 0;
}
