.cover {
  min-height: 740px;
  align-items: center;
  background-image: url(../../images/sprint-3-images-en/cover-route-66.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  margin: 12px auto 0; 
  max-width: 1184px;
  
}


