.place {
  max-width: 984px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 1fr;
    margin:auto;
  }
}
@media screen and (max-width:1024px){
  .place{
    gap:32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 72px;
  }
}
