.place {
  max-width: 984px;
  margin: 0 148px 80px 148px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 1fr;
    margin-left: 0 16px;
  }
}
