.footer {
  max-width: 1184px;
  margin:auto;
  height: 134px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:1024px) {
  .footer{
    max-width: 928px;
  }
  
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 320px;
  }
}
