.page__wrapper {
  max-width: calc(100% - 96px);
  margin: auto;
}


@media screen and (max-width: 320px) {
  .page__wrapper {
    max-width: calc(100% - 32px);
  }
}
@media screen and (max-width:1024px){
  .page__wrapper{
    max-width: 100%;
  }
}