.page__wrapper {
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .page__wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page__wrapper {
    max-width: calc(100% - 32px);
  }
}
