.intro__title {
  width: 690px;
  height: 116px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 114px 442px 40px 148px;
  color: #ffffff;
}
